@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heroButton {
    @apply px-6 py-2 uppercase text-xs tracking-widest text-gray-500 transition-all hover:border-[#D72638]/40 hover:text-[#D72638]/40
  }

  .contactInput {
    @apply outline-none bg-slate-400/10 rounded-sm border-b px-6 py-4 border-[#242424] text-gray-500 placeholder-gray-500 transition-all focus:border-[#D72638]/40 focus:text-[#D72638]/40 hover:border-[#D72638]/40
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}